
{% module Header() %}

<script language="javascript" type="text/javascript">
	function appendText(w){
	
	    $(w).html("<div class=k_fh><span class=span_p2>内容：</span><textarea name=f class=text_p2></textarea><input name=g type=button value=发布 class=btn_fb></div>");
	
	}

</script>

<!-- main -->
<div class="main">
	<span class="atc_name"><a>{{ get_atcbyid(id)[1] }}</a></span>
	<div class="article">
		{% raw get_atcbyid(id)[2] %}
	</div>
	<ul class="article_btm">
	<li><span class="span1_main">{{ get_atcbyid(id)[3] }}</span></li>
		
	</span></li>
	</ul>
</div>

<!-- main -->
<div class="comments">
	<span class="span_cmt">评论({{ len(get_commbyid(id)) }})</span>
	<form class="guestboard" method="post" action="/article?id={{ get_atcbyid(id)[0] }}">
		<input type="hidden" name="m" value="add_comments"> 
		<input type="hidden" name="id" value="{{ get_atcbyid(id)[0] }}"> 
		<input type="text" name="name" placeholder="昵称">
		<input type="text" name="mail" placeholder="E-Mail">
		<input type="text" name="url" placeholder="URL">
		<textarea name="content" cols="103" rows="10" ></textarea>
		<button type"submit">提交</button>
	</form>
	<div class="clear"></div>
	<ul class="ul_comment">
		{% for it in get_commbyid(id) %}
		<li><img src="{{ template_url("images/pl_img3.jpg") }}" />
			<p><b>{{ it[2] }}</b>：{{ it[5] }}</p>
		<div id="h6"> </div>
		</li>
		{% end %}
	</ul>
</div>
{% module Footer() %}
