{% module Header() %}

<script language="javascript" type="text/javascript">
function appendText(w){

    $(w).html("<div class=k_fh><span class=span_p2>内容：</span><textarea name=f class=text_p2></textarea><input name=g type=button value=发布 class=btn_fb></div>");

}

</script>
<!-- main -->
<div class="guests">
	<span class="span_gwly">给我留言</span>
	{% for it in get_guest() %}
	<div class="guest_text">
		<img src="{{ template_url("images/ly_img1.jpg") }}" width="50" height="50" />
		<div class="guest_reply" style="margin-left:70px;margin-top:5px">
			<span>{{ it[1] }}</span>
			<p>{{ it[4] }}</p>
			<div id="h1"></div>
		</div>
	</div>
	{% end %}

	<div class="clear"></div>

	<form class="guestboard" method="post" action="/guest">
		<input type="hidden" name="m" value="add_guests"> 
		<input type="text" name="name" placeholder="昵称">
		<input type="text" name="mail" placeholder="E-Mail">
		<input type="text" name="url" placeholder="URL">
		<textarea name="content" cols="103" rows="10" ></textarea>
		<button type"submit">提交</button>
	</form>
	
	</div>
<!-- main -->

{% module Footer() %}
