{% module Admin_Header() %}
<body> 
	<!--<![endif]-->
	</br>
	
	<div class="row-fluid" style="padding-left:50px;">
		{% module Admin_Sidebar() %}
		<div class="span9">
		

		<table class="table table-hover">
			<thead>
				<tr>
					<th>标题</th>
					<th>删除</th>
				</tr>
			</thead>
				<tbody>
					{% for it in classify %}
					<tr>
					<td>{% raw it[1] %}</td>

					<td>
					<form style="margin-bottom:0;" method="post" action="/admin/classify">
						<input type="hidden" name="m" value="del_classify"> 
						<input type="hidden" name="id" value="{% raw it[0] %}"> 
						<button type="submit" class="btn">删除</button>
					</form>
					</td>
					</tr>
					{% end %}
				</tbody>
		</table>

		<form  style="margin-left:37px;" method="post" action="/admin/classify">
			<input type="hidden" name="m" value="add_classify"> 
			<div class="row">
				<div class="span3"><input type="text" name="name" placeholder="标题"></div>
				<div class="span3"><button type="submit" class="btn" >添加</button></div>
			</div>
		</form>

		
		<div class="copyrights">Collect from Floyd's Blog'</div>
		
		</div>
	</div> 
	
	
	
	<footer>
		<hr>
		
		<p style="padding-left:50px;" >&copy; 2012 <a href="#">Platonix Crew</a></p>
	</footer>
	
	
	
	
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ admin_url("js/bootstrap/js/bootstrap.js") }}></script>
	

</body>
</html>



