{% module Admin_Header() %}
<body> 
	<!--<![endif]-->
	</br>
	
	<div class="row-fluid" style="padding-left:50px;">
		{% module Admin_Sidebar() %}
		<div class="span9">
		

		<table class="table table-hover">
			<thead>
				<tr>
					<th>姓名</th>
					<th>邮箱</th>
					<th>URL</th>
					<th>评论内容</th>
					<th>时间</th>
					<th>删除</th>
				</tr>
			</thead>
				<tbody>
					{% for it in comments %}
					<tr>
					<td><a href="/article/{{ it[0] }}">{% raw it[2] %}</a></td>
					<td>{% raw it[3] %}</td>
					<td>{% raw it[4] %}</td>
					<td>{% raw it[5] %}</td>
					<td>{% raw it[6] %}</td>
					<td>
					<form style="margin-bottom:0;" method="post" action="/admin/comments">
						<input type="hidden" name="m" value="del_comments"> 
						<input type="hidden" name="id" value="{% raw it[1] %}"> 
						<button type="submit" class="btn">删除</button>
					</form>
					</td>
					</tr>
					{% end %}
				</tbody>
		</table>



		
		<div class="copyrights">Collect from Floyd's Blog'</div>
		
		</div>
	</div> 
	
	
	
	<footer>
		<hr>
		
		<p style="padding-left:50px;" >&copy; 2012 <a href="#">Platonix Crew</a></p>
	</footer>
	
	
	
	
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ admin_url("js/bootstrap/js/bootstrap.js") }}></script>
	

</body>
</html>



