{% module Admin_Header() %}
<body> 
	<!--<![endif]-->
	</br>
	
	<div class="row-fluid" style="padding-left:50px;">
		{% module Admin_Sidebar() %}
		<div class="span9">

		<form  style="margin-left:37px;" method="post" action="/admin/options">
			<input type="hidden" name="m" value="update_options"> 

			<div class="row">
				<div style="width:100px;margin-top:5px;float:left;">博客名称：</div>
				<div class="span3" style="margin-left:0">
					<input type="text" name="blogname" value="{{ C("blogname") }}">
				</div>
			</div>

			<div class="row">
				<div style="width:100px;margin-top:5px;float:left;">作者昵称：</div>
				<div class="span3" style="margin-left:0">
					<input type="text" name="nickname" value="{{ C("nickname") }}">
				</div>
			</div>

			<div class="row">
				<div style="width:100px;margin-top:5px;float:left;">邮件地址：</div>
				<div class="span3" style="margin-left:0">
					<input type="text" name="email" value="{{ C("email") }}">
				</div>
			</div>

			<div class="row">
				<div style="width:100px;margin-top:5px;float:left;">博客描述：</div>
				<div class="span3" style="margin-left:0">
					<input type="text" name="descript" value="{{ C("descript") }}">
				</div>
			</div>
			<div class="row">
				<div style="width:100px;margin-top:5px;float:left;">模板选择：</div>
				<div class="span3" style="margin-left:0">
				<select name="classify">
					{% for it in templates %}
					<option value ="{{ it }}">{{ it }}</option>
					{% end %}
				</select>
				</div>
			</div>
			<div class="row">
				<div style="width:100px;margin-top:5px;float:left;">每页文章数：</div>
				<div class="span3" style="margin-left:0"><input type="text" name="pagecount" value="{{ C("pagecount") }}"></div></div>
			<div class="row"><button style="margin-left:270px" type="submit" class="btn" >提交</button></div>
		</form>

		
		<div class="copyrights">Collect from Floyd's Blog'</div>
		
		</div>
	</div> 
	
	
	
	<footer>
		<hr>
		
		<p style="padding-left:50px;" >&copy; 2012 <a href="#">Platonix Crew</a></p>
	</footer>
	
	
	
	
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ admin_url("js/bootstrap/js/bootstrap.js") }}></script>
	

</body>
</html>



