		<div class="span3">
			<div class="sidebar-nav">
				<div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>内容管理</div>
				<ul id="dashboard-menu" class="nav nav-list collapse in">
					<li ><a href="/admin/index">发表文章</a></li>
					<li ><a href="/admin/articles">文章管理</a></li>
					<li ><a href="/admin/comments">评论管理</a></li>
					<li ><a href="/admin/classify">分类管理</a></li>
					<li ><a href="/admin/guests">留言管理</a></li>
					<li ><a href="/admin/upload">上传管理</a></li>
					<li ><a href="/admin/links">友情链接</a></li>
					
				</ul>
				<div class="nav-header" data-toggle="collapse" data-target="#accounts-menu"><i class="icon-briefcase"></i>系统管理</div>
				<ul id="accounts-menu" class="nav nav-list collapse in">
					<li ><a href="/admin/options">系统配置</a></li>
					<li ><a href="/admin/login">退出后台</a></li>
					<li ><a href="#">密码重置</a></li>
				</ul>
			
			</div>
		</div>
