
{% module Header() %}

<script language="javascript" type="text/javascript">
	function appendText(w){
	
	    $(w).html("<div class=k_fh><span class=span_p2>内容：</span><textarea name=f class=text_p2></textarea><input name=g type=button value=发布 class=btn_fb></div>");
	
	}

</script>

<!-- main -->
<div class="main">
	<span class="span_bt1"><a>{{ article[1] }}</a></span>
	<div class="article">
		{% raw article[2] %}
	</div>
	<ul class="article_btm">
	<li><span class="span1_main">{{ article[3] }}</span></li>
	<li><span class="span2_main">{{ article[4] }}</span></li>
		
	</span></li>
	</ul>
</div>

<!-- main -->
<div class="comments">
	<span class="span_pl">评论({{ csize }})</span>
	<form class="guestboard" method="post" action="/article/{{ article[0] }}">
		<input type="hidden" name="m" value="add_comments"> 
		<input type="hidden" name="id" value="{{ article[0] }}"> 
		<input type="text" name="name" placeholder="昵称">
		<input type="text" name="mail" placeholder="E-Mail">
		<input type="text" name="url" placeholder="URL">
		<textarea name="" cols="103" rows="10" ></textarea>
		<button type"submit">提交</button>
	</form>
	<div class="clear"></div>
	<ul class="ul_pl">
		{% for it in comments %}
		<li><img src="{{ static_url("images/pl_img3.jpg") }}" />
			<p><b>{{ it[2] }}</b>：{{ it[5] }}</p>
			<a class="a_hf" onclick="appendText(h6)">回复</a>
		<div id="h6"> </div>
		</li>
		{% end %}
	</ul>
</div>
{% module Footer() %}
