
{% module Header() %}

<script language="javascript" type="text/javascript">
	function appendText(w){
	
	    $(w).html("<div class=k_fh><span class=span_p2>内容：</span><textarea name=f class=text_p2></textarea><input name=g type=button value=发布 class=btn_fb></div>");
	
	}

</script>

<!-- main -->
<div class="main">
	<span class="span_bt1">{{ article[1] }}</span>
	<div class="article">
		{% raw article[2] %}
	</div>
	<ul class="ul_main_btm">
	<li><span class="span1_main">{{ article[4] }}</span></li>
	<li><span class="span2_main">{{ article[5] }}</span></li>
	<li><span class="span3_main">删除</span></li>
	<li><span class="span3_main">编辑</span></li>
		
	</span></li>
	</ul>
</div>

<!-- main -->
<div class="pinglun">
	<span class="span_pl">评论({{ csize }})</span>
	<div class="ly_nr">
		<div class="ly_nr_r">
		<textarea name="" cols="" rows="" class="text_ly"></textarea>
		<a href="#" class="a_fb" title="发布"></a>
		</div>
	</div>
	<div class="clear"></div>
	<ul class="ul_pl">
		{% for it in comments %}
		<li><img src="{% module SiteURL("images/pl_img3.jpg") %}" />
			<p><b>{{ it[2] }}</b>：{{ it[5] }}</p>
			<a class="a_hf" onclick="appendText(h6)">回复</a>
		<div id="h6"> </div>
		</li>
		{% end %}
	</ul>
</div>
{% module Footer() %}
