{% module Header() %}
<!-- main -->
<div class="main">
	{% for it in articlelist %}
	<span class="span_bt1" ><a href="/article/{{ it[0] }}">{% raw it[1] %}</a></span>
	<div class="article">
		{% raw it[2][0] %}
	</div>
	<ul class="ul_main_btm">
		<li><span class="span1_main">{% raw it[3] %}</span></li>
		<li><span class="span2_main">{{ it[4] }}</span></li>
		<li><a href="/article/{{ it[0] }}">全文链接</a></li>
	</ul>
	{% end %}
</div>
<!-- main -->
<div class="clear"></div>
<div class="msdn">
	{% if frontpage >= 0 %}
	<a href="/page/{{ frontpage }}">上一页</a>
	{% end %}

	{% if nextpage > 0 %}
	<a href="/page/{{ nextpage }}">下一页</a>
	{% end %}
</div>

{% module Footer() %}
